div.inner {
  input[type=text], select { width: 80%; }
}

div#checkout #checkout_form_address {
  #billing, #shipping {
    .select_address label { float: none; }
    input[type=radio] { width: auto; }
  }
}

#checkout_form_address .hidden { display: none; }

#checkout_form_address p[data-hook="use_billing"] {
	float: right;
	padding: 0px;
	margin-top: 0px;
	width: 100%;
}

#checkout_form_address .address_option {
	margin-bottom: 10px;
}

#checkout_form_address .select_address p {
	margin: 0;
}