div.inner {
  input[type=text], select { width: 100%; }
}

div#checkout #checkout_form_address {
  #billing, #shipping {
    .select_address label { float: none; }
    input[type=radio] { width: auto; }
  }
}

#checkout_form_address .hidden { display: none; }

#checkout_form_address p[data-hook="use_billing"] {
	float: right;
	padding: 0px;
	margin-top: 0px;
	width: 100%;
}

#checkout_form_address .address_option {
	margin-bottom: 10px;
}

#checkout_form_address .select_address p {
	margin: 0;
}

div.inner {
	padding: 10px 0;
}

.address-form-row label {
	margin: 0;
	font: 16px/1.2 'terminal_dosismedium';
}
.address-form-row label.error {
	display: block;
	font-size: 11px;
	color: #e45353;
	margin-top: 3px;
}

#checkout_form_address p {
	margin-right: 25px;
	float: left;
}

#checkout_form_address p.checkbox {
	margin-right: 0;
}

#checkout_form_address #bfirstname,
#checkout_form_address #sfirstname,
#checkout_form_address #blastname,
#checkout_form_address #slastname {
	width: 116px;
}

#checkout_form_address #baddress_number,
#checkout_form_address #saddress_number {
	width: 48px;
}

#checkout_form_address #baddress1,
#checkout_form_address #saddress1 {
	width: 185px;
}

#checkout_form_address #bphone_ddd,
#checkout_form_address #sphone_ddd {
	width: 25px;
}

#checkout_form_address #bphone,
#checkout_form_address #sphone {
	width: 208px;
}
#checkout_form_address #bcity,
#checkout_form_address #scity {
	width: 188px;
}

#checkout_form_address #bstate,
#checkout_form_address #sstate {
	width: 45px;
}

#checkout_form_address.edit_address {
	width: 450px;
}

#checkout_form_address.edit_address fieldset{
	border: 0;
}

#checkout_form_address.edit_address p {
	margin-right: 31px;
	float: left;
}

#checkout_form_address.edit_address #bfirstname,
#checkout_form_address.edit_address #sfirstname,
#checkout_form_address.edit_address #blastname,
#checkout_form_address.edit_address #slastname {
	width: 183px;
}

#checkout_form_address.edit_address #baddress_number,
#checkout_form_address.edit_address #saddress_number {
	width: 70px;
}

#checkout_form_address.edit_address #baddress1,
#checkout_form_address.edit_address #saddress1 {
	width: 296px;
}

#checkout_form_address.edit_address #baddress2,
#checkout_form_address.edit_address #saddress2,
#checkout_form_address.edit_address #bzipcode,
#checkout_form_address.edit_address #szipcode {
	width: 397px;
}

#checkout_form_address.edit_address #bphone_ddd,
#checkout_form_address.edit_address #sphone_ddd {
	width: 25px;
}

#checkout_form_address.edit_address #bphone,
#checkout_form_address.edit_address #sphone {
	width: 340px;
}

#checkout_form_address.edit_address #bcity,
#checkout_form_address.edit_address #scity {
	width: 321px;
}

#checkout_form_address.edit_address #bstate,
#checkout_form_address.edit_address #sstate {
	width: 45px;
}